<div class="aj-info-box aj-info-box--product">
  <p>Zdj&#281;cia przedstawiaj&#261; oferowany produkt, jednak kolorystyka, detale, etykieta lub wygl&#261;d opakowania mog&#261; r&#243;&#380;ni&#263; si&#281; od prezentowanych. Cena dotyczy 1 sztuki, chyba &#380;e nazwa, opis lub parametry produktu wskazuj&#261; inaczej.</p>
  <p>Je&#380;eli zdj&#281;cie pokazuje opakowanie zbiorcze, karton lub zestaw, nie oznacza to sprzeda&#380;y ca&#322;ego opakowania. Masz w&#261;tpliwo&#347;ci? Skontaktuj si&#281; z nami przed zakupem.</p>
</div>
